<!DOCTYPE html>
<html>
  <head>
    <title>Dgentle Django</title>
    <meta charset="utf-8">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Teachers</li>
              {% if teacher_list %}
                {% for teacher in teacher_list %}
                  <li><a href="/teacher/{{ teacher.id }}/">{{ teacher.name }}</a></li>
                {% endfor %}
              {% else %}
                <li>No teachers in this class!</li>
              {% endif %}
              <li class="nav-header">Students</li>
              {% if student_list %}
                {% for student in student_list %}
                  <li><a href="/student/{{ student.id }}/">{{ student.name }}</a></li>
                {% endfor %}
              {% else %}
                <li>No students in this class!</li>
              {% endif %}
            </ul>
          </div>
        </div> <!-- /span -->
        <div class="span6">
          <div class="hero-unit">
            <h1>Dgentle Django</h1>
            <p>Welcome to Dgentle Django! Our goal is to give an introduction to Django and get you started on your own websites.</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
